In [37]:
from votes_allocation_commons import *
import pickle
import warnings
from IPython.display import display, HTML

In [38]:
PARTIES = ["HDZ", "SDP", "MOST", "DP", "MOŽEMO"]
var_predictions = {
    "HDZ": 34.4,
    "SDP": 24.83,
    "MOST": 7.64,
    "DP": 9.69,
    "MOŽEMO": 9.12,
    "IZLAZNOST": 60.0
}

broj_biraca_po_ij = {
    1: 341703,
    2: 347454,
    3: 350748,
    4: 357899,
    5: 343587,
    6: 352574,
    7: 346073,
    8: 359914,
    9: 352980,
    10: 358154,
}

izlaznost_po_ij_2020 = {
    1: 49.40,
    2: 43.02,
    3: 43.70,
    4: 44.14,
    5: 41.39,
    6: 47.96,
    7: 42.58,
    8: 41.35,
    9: 43.81,
    10: 47.98,
}
izlaznost_2020 = 46.85

izlaznost_po_ij = {k: v/100*var_predictions["IZLAZNOST"]/izlaznost_2020 for k, v in izlaznost_po_ij_2020.items()}

# divide each value of var_predictions by 100
var_predictions = {k: v/100 for k, v in var_predictions.items()}
num_voters = 3511086

In [39]:
with open("/home/tin/Documents/ai-izbori/parlametrika/data/frka_dictionary_4.pkl", "rb") as f:
    fixed = pickle.load(f)

In [40]:
with open("/home/tin/Documents/ai-izbori/parlametrika/data/ij_dict.pickle", "rb") as f:
    data_izborne_jedinice = pickle.load(f)

In [41]:
ig_2020 = IzbornaGodina(2020, data_izborne_jedinice, fixed)
mandate_prediction = MandatePrediction(
    posljednaIzbornaGodina=ig_2020,
    var_predictions=var_predictions,
    num_voters=num_voters,
    izlaznost_po_ij=izlaznost_po_ij,
    broj_biraca_po_ij=broj_biraca_po_ij,
    ukljuci_izlaznost_po_ij=False,
    ukljuci_izlaznost_kao_faktor=True,
)

predictions = {}
for ij in range(1, 11):
    if ij == 3:
        mandates = 13
    elif ij == 6:
        mandates = 13
    elif ij == 8:
        mandates = 11
    elif ij == 9:
        mandates = 13
    else:
        mandates = 14
    dhondt_dict = mandate_prediction.get_mandate_allocation_for_izborna_jedinica(ij_id=ij, mandates=mandates)
    predictions[ij] = dhondt_dict

In [42]:
warnings.filterwarnings("ignore")
for ij in range(1, 11):
    print(f"Izborna jedinica {ij}:")
    df = visualize_mandate_allocation(votes_per_party=predictions[ij]["votes_per_party"], allocated_mandates=predictions[ij]["allocated_mandates"], list_winners_num_votes=predictions[ij]["list_winners_num_votes"])
    display(HTML(df.to_html()))
    print("\n\n")

print("Ukupno:")
total_per_party = {party: sum([predictions[ij]["allocated_mandates"].get(party, 0) for ij in range(1, 11)]) for party in PARTIES}
print(total_per_party)

Izborna jedinica 1:

Izborna jedinica 2:

Izborna jedinica 3:

Izborna jedinica 4:

Izborna jedinica 5:

Izborna jedinica 6:

Izborna jedinica 7:

Izborna jedinica 8:

Izborna jedinica 9:

Izborna jedinica 10:

Ukupno:
{'HDZ': 56, 'SDP': 44, 'MOST': 10, 'DP': 13, 'MOŽEMO': 11}